@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Instructions</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true" />
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: url('https://img.freepik.com/free-vector/green-grass-vector-seamless-texture-lawn-nature-meadow-plant-field-natural-outdoor-illustration_1284-47056.jpg');
            background-repeat: repeat;
            margin: 0;
            padding: 40px;
            display: flex;
            justify-content: center;
        }

        .container {
            background: rgba(157, 192, 139, 0.95);
            padding: 40px;
            border-radius: 16px;
            max-width: 750px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.25);
            color: #40513B;
        }

        h1 {
            text-align: center;
            margin-bottom: 10px;
        }

        h2 {
            margin-top: 25px;
        }

        p {
            line-height: 1.6;
        }

        ul {
            line-height: 1.7;
        }

        .highlight {
            font-weight: bold;
        }

        .back-btn {
            margin-top: 30px;
            text-align: center;
        }

            .back-btn a {
                text-decoration: none;
                padding: 12px 22px;
                background-color: #099966;
                color: #EDF1D6;
                border-radius: 10px;
                font-weight: bold;
            }

                .back-btn a:hover {
                    background-color: #40513B;
                }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bletchley Code Breakers</h1>
        <p style="text-align:center;">
            Crack the enemy code and save the mission.
        </p>

        <h2>About the project</h2>
        <ul>
            <li>
                a project by 3 idiots
            </li>
        </ul>
        <p>
           
            ⠒⠛⠛⢷⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⡾⠛⠛⠂
            ⠀⠀⠀⠀⠙⢿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣾⡿⠋⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠙⠿⣿⣷⣦⣤⣀⣀⣠⣤⣤⣤⣤⣤⣤⣠⣤⣴⣶⣶⣤⣤⣄⣤⣤⣤⣤⣤⣤⣀⣀⣠⣤⣴⣾⣿⡿⠋⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠻⠿⠿⠿⠿⠿⠿⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠿⠿⠿⠿⠿⠿⠟⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠛⠛⠻⣿⣿⣿⣿⣿⣿⣿⣿⠟⠛⠛⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        </p>

        <p>

            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀⠀⠀⠀⠀⠀⣠⠶⠾⠛⠛⢶⣄⠀⠀⠀⠀⠀⠀⠀⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⣦⣀⣀⡴⠾⠛⠋⠀⠀⠀⠀⠀⠈⠛⠻⠶⣄⡀⣠⣾⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⣿⣿⣿⣿⣇⣀⣀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣿⣿⣿⣿⣟⣁⡀⠈⣧⡀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡾⠻⠿⠿⠛⠁⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢹⡿⣏⠉⠁⠀⡀⠀⣻⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡴⠛⠀⠀⠀⠀⠀⠀⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⠓⠦⣤⣟⠉⠁⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡾⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⡃⠁⠀⠀⠈⠻⣦⣄⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⢀⣠⡾⠋⠀⠀⠀⢰⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠀⠀⠀⠀⠙⢷⣄⡀⠀
            ⠀⠀⠀⠀⠀⢠⡾⠁⠀⠀⠀⠀⠀⣸⠀⠀⠀⠀⣀⣀⣀⠀⠀⠀⢀⣀⡤⠤⣄⣀⠀⠀⠀⠀⣀⣀⡀⠀⠀⠀⢸⣇⠀⠀⠀⠀⠀⠈⢻⡄
            ⠀⠀⠀⠀⠀⣿⠁⢀⣤⠤⠤⠶⠚⣿⠄⠀⠀⣼⣿⣿⣿⡆⢀⡞⠁⠶⠂⠀⠲⠀⠑⡄⠀⣾⣿⣿⣿⣆⡀⠀⠀⣿⠓⠶⠤⠤⢤⡀⠀⣿
            ⠀⠀⠀⠀⠀⠹⣧⢯⡀⠀⠀⠀⠀⣷⠀⡞⠁⠻⣿⣿⠟⠀⠸⣄⠀⠀⠀⠀⠀⠀⢀⡇⠀⠘⢿⣿⣿⠇⠈⡆⢀⡿⠀⠀⠀⠀⢀⡼⣸⠏
            ⠀⠀⠀⠀⠀⠀⠙⠷⣽⣲⠦⠤⠤⢾⣧⡱⠤⠤⠃⢀⡄⠀⠀⠈⠁⠀⠀⠀⠒⠒⠉⠀⠀⠀⠀⠘⠦⠤⠔⢁⣾⠷⠤⠤⠴⢖⣫⡾⠋⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠛⠛⠉⠙⠻⢦⣤⣀⡀⠈⠆⠀⠀⡤⠤⣤⣤⣤⢤⣄⠀⠀⠀⠘⢀⣀⣠⡴⠟⠉⠙⠛⠛⠛⠉⠁⠀⠀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣽⠟⠉⡋⠉⠁⣿⣠⣼⣿⣧⣅⣽⠀⠛⠛⠛⠻⣏⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⢀⣴⠶⡟⠳⣤⣤⡄⠀⠀⠀⠀⢰⠇⠀⠠⠁⠀⠀⠀⠀⠸⣟⠋⠀⠀⠀⠀⠰⠐⡀⢹⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠀⠸⢷⡶⠛⠛⠻⠿⠟⠳⢦⡀⠀⣿⠀⢠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⣿⠐⣷⣶⣄⣤⣤⡀⠀⠀⠀⠀⠀
            ⠀⠀⣀⡀⠀⢠⡏⠀⠀⠀⠀⠀⠀⠀⠀⠹⡄⢿⡄⠈⠀⢠⠀⠀⠀⠀⢰⣤⡆⠀⠀⠀⠀⡄⠀⠀⣠⣿⣤⣿⣧⣟⣱⣪⡍⠉⠿⢧⠀⠀
            ⢠⠖⠟⠛⠓⣾⣧⣀⣀⡀⠀⠀⠀⠀⠀⣰⠇⠈⠻⢷⣦⣬⣧⣠⣴⣶⣾⣿⣷⣶⣤⣄⣼⣥⣴⡾⠛⠉⠛⠛⠛⢧⣀⣤⣀⣀⣠⡾⠀⠀
            ⢿⣤⣀⣠⣤⡼⠃⠉⠉⠙⠛⠒⠛⠛⠋⠁⠀⠀⠀⠀⠀⠀⠈⠙⠛⠛⠛⠉⠛⠛⠛⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠁⠉⠉⠁⠀⠀⠀
        </p>
        <div class="back-btn">
            <a href="/">⬅ Back to Menu</a>
        </div>
    </div>
</body>
</html>