п»ҝ@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Instructions</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: url('https://img.freepik.com/free-vector/green-grass-vector-seamless-texture-lawn-nature-meadow-plant-field-natural-outdoor-illustration_1284-47056.jpg');
            background-repeat: repeat;
            margin: 0;
            padding: 40px;
            display: flex;
            justify-content: center;
        }

        .container {
            background: rgba(157, 192, 139, 0.95);
            padding: 40px;
            border-radius: 16px;
            max-width: 750px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.25);
            color: #40513B;
        }

        h1 {
            text-align: center;
            margin-bottom: 10px;
        }

        h2 {
            margin-top: 25px;
        }

        p {
            line-height: 1.6;
        }

        ul {
            line-height: 1.7;
        }

        .highlight {
            font-weight: bold;
        }

        .back-btn {
            margin-top: 30px;
            text-align: center;
        }

            .back-btn a {
                text-decoration: none;
                padding: 12px 22px;
                background-color: #099966;
                color: #EDF1D6;
                border-radius: 10px;
                font-weight: bold;
            }

                .back-btn a:hover {
                    background-color: #40513B;
                }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bletchley Code Breakers</h1>
        <p style="text-align:center;">
            Crack the enemy code and save the mission.
        </p>

        <h2>About the project</h2>
        <ul>
            <li>
                a project by 3 idiots
            </li>
        </ul>
        <p>
           
            в ’в ӣв ӣвў·вЈҰвЈ„в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈ вЈҙвЎҫв ӣв ӣв Ӯ
            в Җв Җв Җв Җв ҷвўҝвЈ·вЈҰвЎҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҖвЈҙвЈҫвЎҝв Ӣв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв ҷв ҝвЈҝвЈ·вЈҰвЈӨвЈҖвЈҖвЈ вЈӨвЈӨвЈӨвЈӨвЈӨвЈӨвЈ вЈӨвЈҙвЈ¶вЈ¶вЈӨвЈӨвЈ„вЈӨвЈӨвЈӨвЈӨвЈӨвЈӨвЈҖвЈҖвЈ вЈӨвЈҙвЈҫвЈҝвЎҝв Ӣв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Ҳв ҷв »в ҝв ҝв ҝв ҝв ҝв ҝв ҝв ҝвўҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЎҝв ҝв ҝв ҝв ҝв ҝв ҝв ҝв ҝв ҹв Ӣв Ғв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв °вЈ¶вЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈ¶в Ҷв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҷв ӣв ӣв »вЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝв ҹв ӣв ӣв Ӣв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЎҝв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҳвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝв ғв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҷвўҝвЈҝвЈҝвЎҝв Ӣв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
        </p>

        <p>

            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈҖвЎҖв Җв Җв Җв Җв Җв ҖвЈ в ¶в ҫв ӣв ӣвў¶вЈ„в Җв Җв Җв Җв Җв Җв ҖвЈҖвЈҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҖвЈҫвЈҝвЈҝвЈҰвЈҖвЈҖвЎҙв ҫв ӣв Ӣв Җв Җв Җв Җв Җв Ҳв ӣв »в ¶вЈ„вЎҖвЈ вЈҫвЈҝвЈҝвЈ§в Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈјвЈҝвЈҝвЈҝвЈҝвЈҝвЎҸв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҲвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝвЈҮвЈҖвЈҖв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈҝвЈҝвЈҝвЈҝвЈҝвЈҝв Үв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв »вЈҝвЈҝвЈҝвЈҝвЈҹвЈҒвЎҖв ҲвЈ§вЎҖв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җвў вЎҫв »в ҝв ҝв ӣв ҒвўҖв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Ҳвў№вЎҝвЈҸв үв Ғв ҖвЎҖв ҖвЈ»в Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈ вЎҙв ӣв Җв Җв Җв Җв Җв Җв Үв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈјвЈҝвЈҝв “в ҰвЈӨвЈҹв үв Ғв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв ҖвЈ вЎҫв Ӣв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҖвўҝвЎғв Ғв Җв Җв Ҳв »вЈҰвЈ„в Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв ҖвўҖвЈ вЎҫв Ӣв Җв Җв Җвў°в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җвў°в Җв Җв Җв Җв ҷвў·вЈ„вЎҖв Җ
            в Җв Җв Җв Җв Җвў вЎҫв Ғв Җв Җв Җв Җв ҖвЈёв Җв Җв Җв ҖвЈҖвЈҖвЈҖв Җв Җв ҖвўҖвЈҖвЎӨв ӨвЈ„вЈҖв Җв Җв Җв ҖвЈҖвЈҖвЎҖв Җв Җв ҖвўёвЈҮв Җв Җв Җв Җв Җв Ҳвў»вЎ„
            в Җв Җв Җв Җв ҖвЈҝв ҒвўҖвЈӨв Өв Өв ¶в ҡвЈҝв „в Җв ҖвЈјвЈҝвЈҝвЈҝвЎҶвўҖвЎһв Ғв ¶в Ӯв Җв Ів Җв ‘вЎ„в ҖвЈҫвЈҝвЈҝвЈҝвЈҶвЎҖв Җв ҖвЈҝв “в ¶в Өв ӨвўӨвЎҖв ҖвЈҝ
            в Җв Җв Җв Җв Җв №вЈ§вўҜвЎҖв Җв Җв Җв ҖвЈ·в ҖвЎһв Ғв »вЈҝвЈҝв ҹв Җв ёвЈ„в Җв Җв Җв Җв Җв ҖвўҖвЎҮв Җв ҳвўҝвЈҝвЈҝв Үв ҲвЎҶвўҖвЎҝв Җв Җв Җв ҖвўҖвЎјвЈёв Ҹ
            в Җв Җв Җв Җв Җв Җв ҷв ·вЈҪвЈІв Ұв Өв ӨвўҫвЈ§вЎұв Өв Өв ғвўҖвЎ„в Җв Җв Ҳв Ғв Җв Җв Җв ’в ’в үв Җв Җв Җв Җв ҳв Ұв Өв ”вўҒвЈҫв ·в Өв Өв ҙвў–вЈ«вЎҫв Ӣв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв үв ӣв ӣв ӣв үв ҷв »вўҰвЈӨвЈҖвЎҖв Ҳв Ҷв Җв ҖвЎӨв ӨвЈӨвЈӨвЈӨвўӨвЈ„в Җв Җв Җв ҳвўҖвЈҖвЈ вЎҙв ҹв үв ҷв ӣв ӣв ӣв үв Ғв Җв Җв Җ
            в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв ҲвЈҪв ҹв үвЎӢв үв ҒвЈҝвЈ вЈјвЈҝвЈ§вЈ…вЈҪв Җв ӣв ӣв ӣв »вЈҸв Ғв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв ҖвўҖвЈҙв ¶вЎҹв івЈӨвЈӨвЎ„в Җв Җв Җв Җвў°в Үв Җв  в Ғв Җв Җв Җв Җв ёвЈҹв Ӣв Җв Җв Җв Җв °в җвЎҖвў№вЎҶв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җ
            в Җв Җв Җв Җв Җв ёвў·вЎ¶в ӣв ӣв »в ҝв ҹв івўҰвЎҖв ҖвЈҝв Җвў в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв Ғв ҖвЈҝв җвЈ·вЈ¶вЈ„вЈӨвЈӨвЎҖв Җв Җв Җв Җв Җ
            в Җв ҖвЈҖвЎҖв Җвў вЎҸв Җв Җв Җв Җв Җв Җв Җв Җв №вЎ„вўҝвЎ„в Ҳв Җвў в Җв Җв Җв Җвў°вЈӨвЎҶв Җв Җв Җв ҖвЎ„в Җв ҖвЈ вЈҝвЈӨвЈҝвЈ§вЈҹвЈұвЈӘвЎҚв үв ҝвў§в Җв Җ
            вў в –в ҹв ӣв “вЈҫвЈ§вЈҖвЈҖвЎҖв Җв Җв Җв Җв ҖвЈ°в Үв Ҳв »вў·вЈҰвЈ¬вЈ§вЈ вЈҙвЈ¶вЈҫвЈҝвЈ·вЈ¶вЈӨвЈ„вЈјвЈҘвЈҙвЎҫв ӣв үв ӣв ӣв ӣвў§вЈҖвЈӨвЈҖвЈҖвЈ вЎҫв Җв Җ
            вўҝвЈӨвЈҖвЈ вЈӨвЎјв ғв үв үв ҷв ӣв ’в ӣв ӣв Ӣв Ғв Җв Җв Җв Җв Җв Җв Ҳв ҷв ӣв ӣв ӣв үв ӣв ӣв ӣв ӣв Ғв Җв Җв Җв Җв Җв Җв Җв Җв Җв үв Ғв үв үв Ғв Җв Җв Җ
        </p>
        <div class="back-btn">
            <a href="/">в¬… Back to Menu</a>
        </div>
    </div>
</body>
</html>