@model cows_and_bulls.ViewModels.MainMenu

@{
    ViewData["Title"] = "Main Menu";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>

    @foreach (var option in Model.Options)
    {
        <p>@option</p>
    }
</div>